.container .myswiper {
    width: "fit-content";
    height: 100%;
  }

.container .myswiper .swiperslide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}